<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head lang="en">
        <!-- Theme Made By www.w3schools.com - No Copyright -->
        <title>Races</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/bootstrap.js}"></script>
        <script th:src="@{/js/angular.min.js}"></script>
        <script th:src="@{/js/angular-sanitize.js}"></script>
        <script th:src="@{/js/controller/races.controller.js}"></script>
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" th:href="@{/css/catalogs.css}" />
    </head>
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50"
          style="background-image: url('http://wallpapercave.com/wp/aVMEQR0.jpg')"
          ng-app="dnduiApp" ng-controller="racesCtrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Dungeons &AMP; Dragons</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/races">RACES</a></li>
                        <li><a href="/classes">CLASSES</a></li>
                        <li><a href="/backgrounds">BACKGROUNDS</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">SPELLS
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="spells/bard">Bard Spells</a></li>
                                <li><a href="spells/cleric">Cleric Spells</a></li>
                                <li><a href="spells/druid">Druid Spells</a></li> 
                                <li><a href="spells/paladin">Paladin Spells</a></li> 
                                <li><a href="spells/ranger">Ranger Spells</a></li> 
                                <li><a href="spells/sorcerer">Sorcerer Spells</a></li> 
                                <li><a href="spells/warlock">Warlock Spells</a></li> 
                                <li><a href="spells/wizard">Wizard Spells</a></li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Container (The Band Section) -->
        <div id="band" class="container">
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a data-toggle="tab" href="#dwarf">DWARF</a></li>
                    <li><a data-toggle="tab" data-target="#elf">ELF</a></li>
                    <li><a data-toggle="tab" href="#halfling">HALFLING</a></li>
                    <li><a data-toggle="tab" href="#human">HUMAN</a></li>
                    <li><a data-toggle="tab" href="#dragonborn">DRAGONBORN</a></li>
                    <li><a data-toggle="tab" href="#gnome">GNOME</a></li>
                    <li><a data-toggle="tab" href="#halfelf">HALF-ELF</a></li>
                    <li><a data-toggle="tab" href="#halforc">HALF-ORC</a></li>
                    <li><a data-toggle="tab" href="#tiefling">TIEFLING</a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    <div id="dwarf" class="tab-pane fade in active text-justify">
                        <h4>DWARF</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/dwarf.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(1)">TRAITS</a></h3>
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setSubracesData(1)">SUBRACES</a></h3>
                        </div>
                    </div>
                    <div id="elf" class="tab-pane fade text-justify">
                        <h4>ELF</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/elf.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(2)">TRAITS</a></h3>
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setSubracesData(2)">SUBRACES</a></h3>
                        </div>
                    </div>
                    <div id="halfling" class="tab-pane fade text-justify">
                        <h4>HALFLING</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/elf.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(3)">TRAITS</a></h3>
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setSubracesData(3)">SUBRACES</a></h3>
                        </div>
                    </div>
                    <div id="human" class="tab-pane fade text-justify">
                        <h4>HUMAN</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/human.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(4)">TRAITS</a></h3>
                        </div>
                    </div>
                    <div id="dragonborn" class="tab-pane fade text-justify">
                        <h4>DRAGONBORN</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/dragonborn.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(5)">TRAITS</a></h3>
                        </div>                       
                    </div>
                    <div id="gnome" class="tab-pane fade text-justify">
                        <h4>GNOME</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/gnome.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(6)">TRAITS</a></h3>
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setSubracesData(6)">SUBRACES</a></h3>
                        </div>
                    </div>
                    <div id="halfelf" class="tab-pane fade text-justify">
                        <h4>HALF-ELF</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/half-elf.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(7)">TRAITS</a></h3>
                        </div>
                    </div>
                    <div id="halforc" class="tab-pane fade text-justify">
                        <h4>HALF-ORC</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/half-orc.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(8)">TRAITS</a></h3>
                        </div>
                    </div>
                    <div id="tiefling" class="tab-pane fade text-justify">
                        <h4>TIEFLING</h4>
                        <div class="col-sm-6">
                            <img th:src="@{/img/tiefling.gif}" width="100%" height="100%" />
                        </div>
                        <div class="col-sm-6">
                            <h3><a data-toggle="modal" data-target="#dnduiModal" ng-click="setTraitsData(9)">TRAITS</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="dnduiModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <strong class="modal-title">{{modal.title}}</strong>
                    </div>
                    <div class="modal-body">
                        <p ng-bind-html="modal.data"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
